# Week1 Excercise for Applied ML, MS in AI - Basics of Numpy and Pandas

First step - Set current director to the course directory and print the directory

In [193]:
import os
import pandas as pd
import numpy as np

os. chdir("C:\Work\CIT\COMP9061-ML")
dir = os.getcwd()
print(dir)

C:\Work\CIT\COMP9061-ML

### Question 1 - Numerical Analysis Exercises using NumPy – Rainfall Dataset:

The objective of the exercises below is to familiarize yourself with the use of NumPy. These excises are mainly based on rainfall data in Cork for each month over the past half century. In the folder you will find a file called CorkRainfall.txt and a file called DublinRainfall.txt. This is a space delimited file.
Each line of the file contains the following precipitation information pertaining to a specific month and year:

• Year
• Month (1 = Jan, 2 = Feb, 3 = March, etc. )
• Total Rainfall (Millimetres)
• Most Rainfall in a Day (Millimetres)
• Number of Rain days (A day is classified as a rain day if it has >= 0.2mm rain) (Number)

Please use NumPy to answer the following questions. The objective of this task is to familiarize yourself with the operation of NumPy (there is no need to incorporate error checking).

##### Read csv to data frames

In [188]:
df_cork = pd.read_csv(dir+'\datasets\CorkRainfall.txt', index_col= False,
           names  = ['Year','Month','total','maxinaday','Norainday'], delimiter =' ')
df_dublin = pd.read_csv(dir+'\datasets\DublinRainfall.txt',index_col= False,
            names  = ['Year','Month','total','maxinaday','Norainday'],delimiter =' ')

print(df_cork)
print(df_dublin)

     Year  Month  total  maxinaday  Norainday
0    1962      1  134.6       12.5         22
1    1962      2   77.2       11.2         17
2    1962      3   73.6       13.4         13
3    1962      4   68.6       20.6         17
4    1962      5   80.7       22.7         16
5    1962      6   50.2       28.3         11
6    1962      7   92.2       18.5         15
7    1962      8   99.4       25.8         19
8    1962      9  122.4       31.1         19
9    1962     10   42.6       15.1         12
10   1962     11  105.5       23.7         14
11   1962     12   86.4       23.6         18
12   1963      1   34.8       14.9         13
13   1963      2   96.0       19.7         11
14   1963      3  212.5       30.5         25
15   1963      4  113.7       29.2         20
16   1963      5   53.9        7.6         19
17   1963      6   46.2        8.6         15
18   1963      7   76.6       16.9         14
19   1963      8  104.3       40.6         22
20   1963      9   39.5        8.8         16
21   1963     10  143.1       56.0         21
22   1963     11  206.9       35.2         24
23   1963     12  112.9       37.0         17
24   1964      1   35.9       12.6         17
25   1964      2  166.4       46.3         19
26   1964      3  233.9       28.7         20
27   1964      4   82.9       16.6         20
28   1964      5  106.7       17.1         21
29   1964      6   89.8       18.1         16
..    ...    ...    ...        ...        ...
570  2009      7  203.7       36.7         27
571  2009      8  155.5       24.1         23
572  2009      9   53.8       15.8         11
573  2009     10  180.6       27.1         21
574  2009     11  232.8       30.3         29
575  2009     12  157.6       41.9         19
576  2010      1  125.7       21.5         14
577  2010      2   42.7       19.5         12
578  2010      3   96.2       18.9         17
579  2010      4   40.9       18.0         12
580  2010      5   47.3       10.5         12
581  2010      6   63.4       21.1         15
582  2010      7  119.5       25.2         22
583  2010      8   17.1        8.8         10
584  2010      9   81.4       16.7         22
585  2010     10  118.0       26.2         24
586  2010     11   85.6       29.2         20
587  2010     12   66.9       27.1          9
588  2011      1   75.8       17.7         11
589  2011      2  127.7       17.0         23
590  2011      3   35.7        7.0         12
591  2011      4   39.7       12.1         13
592  2011      5  122.3       22.4         18
593  2011      6   88.7       23.8         17
594  2011      7   40.3       13.2         13
595  2011      8   53.9        9.3         14
596  2011      9  112.5       16.8         24
597  2011     10   91.8       24.4         22
598  2011     11  148.6       35.2         23
599  2011     12   87.1       22.0         26

[600 rows x 5 columns]
     Year  Month  total  maxinaday  Norainday
0    1962      1   41.1        7.1         16
1    1962      2   26.7        5.7         14
2    1962      3   53.6       15.1         13
3    1962      4   40.8        7.1         13
4    1962      5   56.8       18.5         19
5    1962      6   24.9        7.4         11
6    1962      7   68.0       18.4         15
7    1962      8   73.1       17.5         17
8    1962      9  129.2       31.1         19
9    1962     10   16.8        8.4          8
10   1962     11   47.9        9.2         14
11   1962     12   75.3       12.9         20
12   1963      1   41.1        9.3         12
13   1963      2   61.9       22.7         10
14   1963      3   65.2       15.2         16
15   1963      4   47.0        6.6         19
16   1963      5   42.0        7.9         20
17   1963      6   54.3       15.5         17
18   1963      7   23.5        6.0         13
19   1963      8  103.1       53.5         20
20   1963      9   44.9       12.0         12
21   1963     10   47.6        9.7         15
22   1963     11   95.9       17.8         21
23   1963     12   16.4        4.4         10
24   1964      1   14.8        3.4         10
25   1964      2   28.3        5.8         13
26   1964      3  106.6       18.9         18
27   1964      4   62.3       15.0         23
28   1964      5   45.4        7.0         16
29   1964      6   51.0        9.6         17
..    ...    ...    ...        ...        ...
570  2009      7  153.9       39.2         22
571  2009      8   69.1       22.2         20
572  2009      9   24.2       13.0          9
573  2009     10   84.9       22.9         20
574  2009     11  149.4       28.1         26
575  2009     12   71.6       20.4         18
576  2010      1   42.7       10.0         14
577  2010      2   36.7        8.5         14
578  2010      3   54.8       16.0         11
579  2010      4   26.7        5.2         11
580  2010      5   48.8       19.5         13
581  2010      6   43.3       15.5          7
582  2010      7   74.7       19.5         18
583  2010      8   48.0        8.8         17
584  2010      9  105.5       17.7         19
585  2010     10   29.6        6.0         12
586  2010     11  100.5       11.1         24
587  2010     12   57.6       12.0         16
588  2011      1   29.4       10.5         13
589  2011      2   75.9       18.7         22
590  2011      3   19.4        8.1         10
591  2011      4   28.4       12.6         12
592  2011      5   37.1        6.1         21
593  2011      6   64.2       10.2         18
594  2011      7   42.6        7.0         17
595  2011      8   39.7        6.7         19
596  2011      9   87.3       42.1         19
597  2011     10  147.4       71.3         18
598  2011     11   48.5       11.7         11
599  2011     12   52.2        5.2         23

[600 rows x 5 columns]

##### (i) Print out the max ‘Most Rainfall in a Day’ value and the average ‘Most Rainfall in a Day’ value for the Cork data (that is, obtain the maximum value contained in this column of data and the average value in this column of data).

In [22]:
print(df_cork.maxinaday.max(),df_cork.maxinaday.mean())

86.7 22.910500000000024

##### (ii) Display all unique years for which there is data in the dataset (you can use np.unique) Ask the user to select a specific year. You should then output the sum of the Rain Days column for that year (you do this by adding up the "Number of rain days” for all 12 rows pertaining to the selected year).

In [54]:
print('Pick an year')
print(df_cork.Year.unique())
useryear = int(input())
print('Total No. of rain days:',df_cork[df_cork.Year ==useryear].Norainday.sum())

Pick an year
[1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011]
1962
Total No. of rain days: 193

##### (iii) Calculate the wettest month of the year in Cork based using the “Total Rainfall” value. The month that has the highest cumulative “Total Rainfall” value across all years should be classified as the wettest.

In [122]:
df_cork_year = df_cork.groupby(['Year'])['total'].max()
for index,row in df_cork.iterrows():
    if df_cork_year[row['Year']] == row['total']: 
        print('Highest rain fall in year {0} was in month {1}, which is {2}'.format(int(row['Year']), 
            int(row['Month']),row['total']))
df_cork_month = df_cork.groupby('Month').agg({'total': ['max']})
df_cork_month.columns = ['month_max']
print('Wettest Month Across all years:',df_cork_month[df_cork_month.month_max==df_cork_month.month_max.max()].index[0])

Highest rain fall in year 1962 was in month 1, which is 134.6
Highest rain fall in year 1963 was in month 3, which is 212.5
Highest rain fall in year 1964 was in month 3, which is 233.9
Highest rain fall in year 1965 was in month 11, which is 206.9
Highest rain fall in year 1966 was in month 2, which is 299.9
Highest rain fall in year 1967 was in month 10, which is 151.1
Highest rain fall in year 1968 was in month 11, which is 186.8
Highest rain fall in year 1969 was in month 1, which is 275.0
Highest rain fall in year 1970 was in month 1, which is 219.1
Highest rain fall in year 1971 was in month 1, which is 162.6
Highest rain fall in year 1972 was in month 2, which is 190.5
Highest rain fall in year 1973 was in month 5, which is 182.5
Highest rain fall in year 1974 was in month 1, which is 340.9
Highest rain fall in year 1975 was in month 10, which is 204.7
Highest rain fall in year 1976 was in month 10, which is 209.8
Highest rain fall in year 1977 was in month 2, which is 237.1
Highest rain fall in year 1978 was in month 12, which is 265.0
Highest rain fall in year 1979 was in month 12, which is 216.4
Highest rain fall in year 1980 was in month 10, which is 157.5
Highest rain fall in year 1981 was in month 5, which is 216.4
Highest rain fall in year 1982 was in month 10, which is 209.5
Highest rain fall in year 1983 was in month 9, which is 194.4
Highest rain fall in year 1984 was in month 1, which is 194.0
Highest rain fall in year 1985 was in month 12, which is 180.6
Highest rain fall in year 1986 was in month 8, which is 226.9
Highest rain fall in year 1987 was in month 12, which is 184.7
Highest rain fall in year 1988 was in month 1, which is 256.9
Highest rain fall in year 1989 was in month 12, which is 239.0
Highest rain fall in year 1990 was in month 2, which is 213.4
Highest rain fall in year 1991 was in month 10, which is 148.2
Highest rain fall in year 1992 was in month 11, which is 141.0
Highest rain fall in year 1993 was in month 9, which is 216.0
Highest rain fall in year 1994 was in month 2, which is 236.6
Highest rain fall in year 1995 was in month 10, which is 234.3
Highest rain fall in year 1996 was in month 10, which is 239.7
Highest rain fall in year 1997 was in month 8, which is 231.3
Highest rain fall in year 1998 was in month 1, which is 178.5
Highest rain fall in year 1999 was in month 8, which is 199.8
Highest rain fall in year 2000 was in month 11, which is 190.9
Highest rain fall in year 2001 was in month 8, which is 154.6
Highest rain fall in year 2002 was in month 1, which is 242.4
Highest rain fall in year 2003 was in month 11, which is 125.0
Highest rain fall in year 2004 was in month 8, which is 178.5
Highest rain fall in year 2005 was in month 10, which is 219.3
Highest rain fall in year 2006 was in month 10, which is 184.7
Highest rain fall in year 2007 was in month 6, which is 156.9
Highest rain fall in year 2008 was in month 1, which is 195.1
Highest rain fall in year 2009 was in month 11, which is 232.8
Highest rain fall in year 2010 was in month 1, which is 125.7
Highest rain fall in year 2011 was in month 11, which is 148.6
Wettest Month Across all years: 1

##### (iv) This question focuses on the Number of Rain days column. The user is asked to enter a maximum threshold value for the number of rain days. Your code should then output the percentage of the time (percentage of rows in the dataset) where the number of rain days is less than or equal to the threshold value.
##### Practical Machine Learning –
##### NumPy Exercises
##### For example, if a user enters a maximum threshold value of 6, then your code should output the percentage of rows where the number of rain days fell below the threshold value of 6.

In [145]:
threshhold=int(input())
print('{0} % times it rained below {1} days in a month.'.format((round((df_cork[df_cork.Norainday<threshhold].shape[0]/df_cork.shape[0])*100)),threshhold))

15
28 % times it rained below 15 days in a month

###### v) Calculate the average ‘total rainfall’ value for the summer months (June, July and August) and the Autumn months (Sept, Oct, Nov).

In [179]:
df_cork1= df_cork
df_cork1['Season']=''
df_cork1.loc[df_cork1.Month.isin([6,7,8]),'Season']='Summer'
df_cork1.loc[df_cork1.Month.isin([9,10,11]),'Season']='Autumn'
df_cork_specmon=df_cork1[df_cork1.Season!='']
df_cork_year_season = df_cork_specmon.groupby(['Year','Season'])['total'].max()
print(df_cork_year_season)

Year  Season
1962  Autumn    122.4
      Summer     99.4
1963  Autumn    206.9
      Summer    104.3
1964  Autumn     80.2
      Summer    134.6
1965  Autumn    206.9
      Summer    128.8
1966  Autumn    232.2
      Summer    102.2
1967  Autumn    151.1
      Summer    101.9
1968  Autumn    186.8
      Summer     74.6
1969  Autumn    113.1
      Summer     84.5
1970  Autumn    216.3
      Summer     86.3
1971  Autumn    128.5
      Summer    121.8
1972  Autumn    121.9
      Summer     44.2
1973  Autumn    156.3
      Summer     74.6
1974  Autumn    187.4
      Summer    118.9
1975  Autumn    204.7
      Summer    186.3
1976  Autumn    209.8
      Summer     92.8
                ...
1997  Autumn    215.6
      Summer    231.3
1998  Autumn    167.1
      Summer    128.9
1999  Autumn    180.0
      Summer    199.8
2000  Autumn    190.9
      Summer     68.2
2001  Autumn    127.2
      Summer    154.6
2002  Autumn    214.7
      Summer    105.3
2003  Autumn    125.0
      Summer    107.0
2004  Autumn    167.1
      Summer    178.5
2005  Autumn    219.3
      Summer    105.2
2006  Autumn    184.7
      Summer     69.9
2007  Autumn     64.0
      Summer    156.9
2008  Autumn    139.2
      Summer    163.6
2009  Autumn    232.8
      Summer    203.7
2010  Autumn    118.0
      Summer    119.5
2011  Autumn    148.6
      Summer     88.7
Name: total, Length: 100, dtype: float64

##### (vi) Read in the contents of the file DublinRainfall.txt into a NumPy array. Append the all rows from the Dublin array to the Cork NumPy array. Calculate the average number of raindays for the new array and write the new NumPy array to a CSV file.

In [192]:
df_rain = pd.concat([df_cork, df_dublin],sort=False).reset_index()
print(df_rain.Norainday.mean())
df_rain.to_csv(dir+'\datasets\FullRainfall.txt')

16.701666666666668

## Question 2 - Numerical Analysis Exercises using NumPy Bike Dataset:
For each of the following questions you will use the bike rental dataset called bike.csv.
Where possible use NumPy to answer the questions below.
The following are the details of the various fields in this dataset.
0. instant: record index
1. season : season (1:springer, 2:summer, 3:fall, 4:winter)
2. yr : year (0: 2011, 1:2012)
3. mnth : month ( 1 to 12)
4. hr : hour (0 to 23)
5. holiday : weather day is holiday or not (extracted from [Web Link])
6. weekday : day of the week
7. workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
8. + weathersit :
i. 1: Clear, Few clouds, Partly cloudy, Partly cloudy
ii. 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
iii. 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
iv. 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
9. temp : Normalized temperature in Celsius. The values are divided to 41 (max)
10. atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)
11. hum: Normalized humidity. The values are divided to 100 (max)
12. windspeed: Normalized wind speed. The values are divided to 67 (max)
13. casual: count of casual users
14. registered: count of registered users
15. cnt: count of total rental bikes including both casual and registered

#### Read csv to data frames

In [198]:
df_bike = pd.read_csv(dir+'\datasets\\bike.csv', 
           names  = ['season','yr','mnth','hr','holiday','weekday','workingday','weathersit','temp','atemp','hum','windspeed','casual','registered','cnt'])
print(df_bike)

       season  yr  mnth  hr  holiday  weekday  workingday  weathersit  temp  \
1           1   0     1   0        0        6           0           1  0.24
2           1   0     1   1        0        6           0           1  0.22
3           1   0     1   2        0        6           0           1  0.22
4           1   0     1   3        0        6           0           1  0.24
5           1   0     1   4        0        6           0           1  0.24
6           1   0     1   5        0        6           0           2  0.24
7           1   0     1   6        0        6           0           1  0.22
8           1   0     1   7        0        6           0           1  0.20
9           1   0     1   8        0        6           0           1  0.24
10          1   0     1   9        0        6           0           1  0.32
11          1   0     1  10        0        6           0           1  0.38
12          1   0     1  11        0        6           0           1  0.36
13          1   0     1  12        0        6           0           1  0.42
14          1   0     1  13        0        6           0           2  0.46
15          1   0     1  14        0        6           0           2  0.46
16          1   0     1  15        0        6           0           2  0.44
17          1   0     1  16        0        6           0           2  0.42
18          1   0     1  17        0        6           0           2  0.44
19          1   0     1  18        0        6           0           3  0.42
20          1   0     1  19        0        6           0           3  0.42
21          1   0     1  20        0        6           0           2  0.40
22          1   0     1  21        0        6           0           2  0.40
23          1   0     1  22        0        6           0           2  0.40
24          1   0     1  23        0        6           0           2  0.46
25          1   0     1   0        0        0           0           2  0.46
26          1   0     1   1        0        0           0           2  0.44
27          1   0     1   2        0        0           0           2  0.42
28          1   0     1   3        0        0           0           2  0.46
29          1   0     1   4        0        0           0           2  0.46
30          1   0     1   6        0        0           0           3  0.42
...       ...  ..   ...  ..      ...      ...         ...         ...   ...
17350       1   1    12  18        0        0           0           2  0.24
17351       1   1    12  19        0        0           0           1  0.34
17352       1   1    12  20        0        0           0           1  0.22
17353       1   1    12  21        0        0           0           1  0.20
17354       1   1    12  22        0        0           0           1  0.20
17355       1   1    12  23        0        0           0           1  0.20
17356       1   1    12   0        0        1           1           1  0.18
17357       1   1    12   1        0        1           1           1  0.18
17358       1   1    12   2        0        1           1           1  0.16
17359       1   1    12   3        0        1           1           1  0.16
17360       1   1    12   4        0        1           1           1  0.14
17361       1   1    12   5        0        1           1           1  0.16
17362       1   1    12   6        0        1           1           1  0.16
17363       1   1    12   7        0        1           1           1  0.16
17364       1   1    12   8        0        1           1           1  0.14
17365       1   1    12   9        0        1           1           2  0.18
17366       1   1    12  10        0        1           1           2  0.20
17367       1   1    12  11        0        1           1           2  0.22
17368       1   1    12  12        0        1           1           2  0.24
17369       1   1    12  13        0        1           1           2  0.26
17370       1   1    12  14        0        1           1           2  0.28
17371       1   1    12  15        0        1           1           2  0.28
17372       1   1    12  16        0        1           1           2  0.26
17373       1   1    12  17        0        1           1           2  0.26
17374       1   1    12  18        0        1           1           2  0.26
17375       1   1    12  19        0        1           1           2  0.26
17376       1   1    12  20        0        1           1           2  0.26
17377       1   1    12  21        0        1           1           1  0.26
17378       1   1    12  22        0        1           1           1  0.26
17379       1   1    12  23        0        1           1           1  0.26

        atemp   hum  windspeed  casual  registered  cnt
1      0.2879  0.81     0.0000       3          13   16
2      0.2727  0.80     0.0000       8          32   40
3      0.2727  0.80     0.0000       5          27   32
4      0.2879  0.75     0.0000       3          10   13
5      0.2879  0.75     0.0000       0           1    1
6      0.2576  0.75     0.0896       0           1    1
7      0.2727  0.80     0.0000       2           0    2
8      0.2576  0.86     0.0000       1           2    3
9      0.2879  0.75     0.0000       1           7    8
10     0.3485  0.76     0.0000       8           6   14
11     0.3939  0.76     0.2537      12          24   36
12     0.3333  0.81     0.2836      26          30   56
13     0.4242  0.77     0.2836      29          55   84
14     0.4545  0.72     0.2985      47          47   94
15     0.4545  0.72     0.2836      35          71  106
16     0.4394  0.77     0.2985      40          70  110
17     0.4242  0.82     0.2985      41          52   93
18     0.4394  0.82     0.2836      15          52   67
19     0.4242  0.88     0.2537       9          26   35
20     0.4242  0.88     0.2537       6          31   37
21     0.4091  0.87     0.2537      11          25   36
22     0.4091  0.87     0.1940       3          31   34
23     0.4091  0.94     0.2239      11          17   28
24     0.4545  0.88     0.2985      15          24   39
25     0.4545  0.88     0.2985       4          13   17
26     0.4394  0.94     0.2537       1          16   17
27     0.4242  1.00     0.2836       1           8    9
28     0.4545  0.94     0.1940       2           4    6
29     0.4545  0.94     0.1940       2           1    3
30     0.4242  0.77     0.2985       0           2    2
...       ...   ...        ...     ...         ...  ...
17350  0.2121  0.44     0.2985      12         113  125
17351  0.3636  0.61     0.0000      16          86  102
17352  0.1970  0.47     0.3284       9          63   72
17353  0.2121  0.51     0.1642       5          42   47
17354  0.1970  0.55     0.1940       6          30   36
17355  0.1970  0.51     0.2239      10          39   49
17356  0.1818  0.55     0.1940       4          30   34
17357  0.1818  0.55     0.1940       6          13   19
17358  0.1667  0.59     0.1642       3           8   11
17359  0.1818  0.59     0.1045       0           1    1
17360  0.1667  0.69     0.1045       0           3    3
17361  0.1515  0.64     0.1940       0           9    9
17362  0.1667  0.64     0.1642       0          40   40
17363  0.1818  0.64     0.1343       2          83   85
17364  0.1515  0.69     0.1343       9         187  196
17365  0.2121  0.64     0.1045      13         144  157
17366  0.2121  0.69     0.1343      33          87  120
17367  0.2273  0.60     0.1940      43         114  157
17368  0.2273  0.56     0.1940      52         172  224
17369  0.2576  0.44     0.1642      38         165  203
17370  0.2727  0.45     0.2239      62         185  247
17371  0.2879  0.45     0.1343      69         246  315
17372  0.2576  0.48     0.1940      30         184  214
17373  0.2879  0.48     0.0896      14         150  164
17374  0.2727  0.48     0.1343      10         112  122
17375  0.2576  0.60     0.1642      11         108  119
17376  0.2576  0.60     0.1642       8          81   89
17377  0.2576  0.60     0.1642       7          83   90
17378  0.2727  0.56     0.1343      13          48   61
17379  0.2727  0.65     0.1343      12          37   49

[17379 rows x 15 columns]

##### (i) Calculate the average temperature value (column index 9) for the entire dataset. Note the temperature values in this column have been already normalized by dividing by 41.

In [213]:
print('Average Temperature value is {}.'.format(round(df_bike.temp.mean()*41,2)))

Average Temperature value is 20.38.

#### (ii) Print out the average number of casual users for all days classified as holidays as well as the average for all days classified as non-holidays. (Note holidays =1 and non-holidays = 0). Holidays attribute is stored at index 5.

In [214]:
print('Average casual users on holidate are {0} and on non-holiday are {1}.'.format(round(df_bike[df_bike.holiday==1].casual.mean(),2),round(df_bike[df_bike.holiday==0].casual.mean(),2)))

Average casual users on holidate are 44.72 and on non-holiday are 35.41.

#### (iii) Write NumPy code that will print out the total number of casual users for each month of the year. You would expect to see an increase in the number of casual users over the summer months and a decline for the winter months.

In [229]:
df_bike_season = df_bike.groupby(['yr','mnth'])['casual'].sum()
print(df_bike_season)

yr  mnth
0   1        38189
    2        48215
    3        64045
    4        94870
    5       135821
    6       143512
    7       141341
    8       136691
    9       127418
    10      123511
    11      102167
    12       87323
1   1        96744
    2       103137
    3       164875
    4       174224
    5       195865
    6       202830
    7       203607
    8       214503
    9       218573
    10      198841
    11      152664
    12      123713
Name: cnt, dtype: int64

#### (iv) We will now look at the relationship between temperature and the number of users (column index 15). Your code should work out the average number of users for the following temperature ranges.
        • 1, 6
        • 6, 10
        • 10, 15
        • 15, 20
        • 20, 25
        • 25, 30
        • 30, 35
        • 35, 40
Remember the temperature values specified in the file have been normalised by dividing by 41.

In [232]:
df_bike_temp=df_bike.groupby(pd.cut((df_bike.temp*41),np.arange(0, 42, 5)))['cnt'].sum()
print(df_bike_temp.head())

temp
(0, 5]        9388
(5, 10]     131513
(10, 15]    424096
(15, 20]    486459
(20, 25]    673569
Name: cnt, dtype: int64

## Question 3 - Numerical Analysis Exercises Pandas – Shark Attack Dataset:
For each of the following questions you will use a dataset containing information on global shark attacks called attacks.csv.
Attribute Information:
The attributes recorded in the dataset are as follows:
0. Case Number
1. Date
2. Year
3. Type
4. Country
5. Area
6. Location
7. Activity
8. Name
9. Sex
10. Age
11. Injury
12. Fatal
13. Time
14. Species
15. Investigator or Source
You will notice in the dataset that some entries in the fatality column are recorded as UNKNOWN, n, F, etc. We ignore these entries and only consider entries that are uppercase ‘Y’ or ‘N’.
Open this file using Pandas read_csv() function. The data file is stored in a different encoding format so you can use the following line to read the data into a dataframe.
df = pd.read_csv('attacks.csv', encoding = "ISO-8859-1")

#### Read csv

In [239]:
df_shark = pd.read_csv(dir+'\datasets\\attacks.csv', encoding = "ISO-8859-1")
print(df_shark.head())

    Case Number                  Date    Year        Type         Country  \
0    2017.06.11             11-Jun-17  2017.0  Unprovoked       AUSTRALIA
1  2017.06.10.b             10-Jun-17  2017.0  Unprovoked       AUSTRALIA
2  2017.06.10.a             10-Jun-17  2017.0  Unprovoked             USA
3  2017.06.07.R  Reported 07-Jun-2017  2017.0  Unprovoked  UNITED KINGDOM
4    2017.06.04             04-Jun-17  2017.0  Unprovoked             USA

                Area                                         Location  \
0  Western Australia                         Point Casuarina, Bunbury
1           Victoria                    Flinders, Mornington Penisula
2            Florida                      Ponce Inlet, Volusia County
3        South Devon                                    Bantham Beach
4            Florida  Middle Sambo Reef off Boca Chica, Monroe County

        Activity            Name Sex   ... Fatal   Time  \
0  Body boarding       Paul Goff    M  ...     N  08h30
1        Surfing          female    F  ...     N  15h45
2        Surfing     Bryan Brock    M  ...     N  10h00
3       Surfing     Rich Thomson    M  ...     N    NaN
4   Spearfishing  Parker Simpson    M  ...     N    NaN

                            Species                  Investigator or Source  \
0                   White shark, 4 m                    WA Today, 6/11/2017
1                       7 gill shark                                    NaN
2                                NaN  Daytona Beach News-Journal, 6/10/2017
3  3m shark, probably a smooth hound                         C. Moore, GSAF
4                           8' shark                    Nine News, 6/7/2017

                         pdf  \
0        2017.06.11-Goff.pdf
1  2017.06.10.b-Flinders.pdf
2     2017.06.10.a-Brock.pdf
3   2017.06.07.R-Thomson.pdf
4     2017.06.04-Simpson.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...
3  http://sharkattackfile.net/spreadsheets/pdf_di...
4  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...    2017.06.11
1  http://sharkattackfile.net/spreadsheets/pdf_di...  2017.06.10.b
2  http://sharkattackfile.net/spreadsheets/pdf_di...  2017.06.10.a
3  http://sharkattackfile.net/spreadsheets/pdf_di...  2017.06.07.R
4  http://sharkattackfile.net/spreadsheets/pdf_di...    2017.06.04

  Case Number.2 original order
0    2017.06.11           6095
1  2017.06.10.b           6094
2  2017.06.10.a           6093
3  2017.06.07.R           6092
4    2017.06.04           6091

[5 rows x 22 columns]

#### (i) What location globally has the highest number of shark attacks?

In [259]:
df_shark_loc = df_shark.groupby(['Location'])['Case Number'].count()
print(df_shark_loc[df_shark_loc==df_shark_loc.max()][0])
print('Highest number of shark attacks ({1}) happened in "{0}"'.format(df_shark_loc[df_shark_loc==df_shark_loc.max()].index[0],df_shark_loc[df_shark_loc==df_shark_loc.max()][0]))

162
Highest number of shark attacks (162) happened in "New Smyrna Beach, Volusia County"

#### (ii) Read the shark attack dataset into a Pandas Dataframe. Determine the six countries that have experienced the highest number of shark attacks.

In [264]:
df_shark_country = df_shark.groupby(['Country'])['Case Number'].count()
#df.nlargest(3, 'a')
print(df_shark_country.nlargest(3))

Country
USA             2160
AUSTRALIA       1303
SOUTH AFRICA     571
Name: Case Number, dtype: int64

#### (iii) Modify your code to print out the six countries that have experienced the highest number of fatal shark attacks.

In [267]:
df_shark_country_fatal = df_shark[df_shark.Fatal=='Y'].groupby(['Country'])['Case Number'].count()
print(df_shark_country_fatal.nlargest(3))

Country
AUSTRALIA       342
USA             250
SOUTH AFRICA    137
Name: Case Number, dtype: int64

#### (iv) Based on the data in the Activity column are you more likely to be attacked by a shark if you are “Surfing” or “Scuba Diving”.

In [274]:
df_shark_activity = df_shark.groupby(['Activity'])['Case Number'].count()
print('Shark Attacks Surfing {0} and shark attaches {1}'.format(df_shark_activity['Surfing'],df_shark_activity['Scuba diving']))

Shark Attacks Surfing 931 and shark attaches 74

#### (v) Determine from the dataset what percentage of all recorded shark attacks were fatal.

In [284]:
print(df_shark[df_shark.Fatal=='N']['Case Number'].count())
print('Percentage of shark attacks fatal {0}'.
      format((df_shark[df_shark.Fatal=='Y']['Case Number'].count()/df_shark[df_shark.Fatal=='N']['Case Number'].count())*100))

4391
Percentage of shark attacks fatal 35.66385789114097

#### (vi) For each individual country, print out the percentage of fatal shark attacks (number of fatal shark attacks expressed as a percentage of the total number of shark attacks). Some countries have recorded 0 fatal and non-fatal attacks. Your code should only consider countries where the number of non-fatal and fatal attacks are greater than 0.

In [301]:
df_shark_country_fatal = df_shark[df_shark.Fatal=='Y'].groupby(['Country'])['Case Number'].count().rename(columns={'count':'fatalcount'})
df_shark_country_nonfatal = df_shark[df_shark.Fatal=='N'].groupby(['Country'])['Case Number'].count()
final_frame=pd.concat([df_shark_country_fatal , df_shark_country_nonfatal],axis=1)
print(final_frame)

                                           0  Case Number
 PHILIPPINES                             1.0          NaN
 TONGA                                   2.0          1.0
ADMIRALTY ISLANDS                        NaN          1.0
ALGERIA                                  1.0          NaN
AMERICAN SAMOA                           3.0          NaN
ANDAMAN / NICOBAR ISLANDAS               1.0          NaN
ANGOLA                                   NaN          1.0
ANTIGUA                                  NaN          1.0
ARGENTINA                                NaN          1.0
ARUBA                                    1.0          NaN
ASIA?                                    NaN          1.0
ATLANTIC OCEAN                           7.0          8.0
AUSTRALIA                              342.0        924.0
AZORES                                   NaN          5.0
BAHAMAS                                 12.0         89.0
BAHREIN                                  1.0          NaN
BANGLADESH                               1.0          NaN
BARBADOS                                 4.0          2.0
BAY OF BENGAL                            1.0          NaN
BELIZE                                   2.0          1.0
BERMUDA                                  3.0         12.0
BRAZIL                                  40.0         61.0
BRITISH ISLES                            NaN          1.0
BRITISH NEW GUINEA                       NaN          1.0
BRITISH VIRGIN ISLANDS                   1.0          NaN
BRITISH WEST INDIES                      NaN          1.0
BURMA                                    3.0          1.0
Between PORTUGAL & INDIA                 1.0          NaN
CANADA                                   2.0          8.0
CAPE VERDE                               2.0          1.0
...                                      ...          ...
ST HELENA, British overseas territory    NaN          1.0
ST. MAARTIN                              NaN          1.0
ST. MARTIN                               NaN          1.0
SUDAN                                    1.0          3.0
SUDAN?                                   NaN          1.0
SYRIA                                    1.0          NaN
Seychelles                               1.0          NaN
Sierra Leone                             1.0          NaN
TAIWAN                                   3.0          6.0
TANZANIA                                 6.0          2.0
TASMAN SEA                               NaN          1.0
THAILAND                                 3.0          2.0
THE BALKANS                              1.0          NaN
TONGA                                    4.0         11.0
TRINIDAD & TOBAGO                        1.0          2.0
TUNISIA                                  1.0          1.0
TURKEY                                   3.0          8.0
TURKS & CAICOS                           2.0          3.0
TUVALU                                   1.0          NaN
UNITED ARAB EMIRATES                     NaN          2.0
UNITED ARAB EMIRATES (UAE)               NaN          2.0
UNITED KINGDOM                           2.0          9.0
URUGUAY                                  1.0          2.0
USA                                    250.0       1879.0
VANUATU                                  9.0          4.0
VENEZUELA                                5.0          6.0
VIETNAM                                  1.0         13.0
WESTERN SAMOA                            1.0          NaN
YEMEN                                    2.0          NaN
YEMEN                                    5.0          1.0

[203 rows x 2 columns]

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until